<script setup>
import { ref } from 'vue';
import Formik from './components/Formik.vue'
import Fields from './components/Fields.vue';


const options = [
  {value: '1', label: 'Option 1'},
  {value: '2', label: 'Option 2'},
  {value: '3', label: 'Option 3'},
  {value: '4', label: 'Option 4'},
  {value: '5', label: 'Option 5'},
]

const isSubmit = ref(false);

const initValues = {
  email: 'niko@panic.fr',
  password: '123456',
}

const submit = (values) => {
  console.log(values, 'From submit');
}

const validate = (values) => {
  const errors = {};
  if (!values.email) {
    errors.email = 'Required';
  } else if (
    !/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i.test(values.email)
  ) {
    errors.email = 'Invalid email address';
  }
  return errors;
}

const handleSubmit = (e) => {
  e.preventDefault();
  isSubmit.value = true;
}

const handleOtherSubmit = (value) => {
  console.log(value);
  isSubmit.value = false;
}

</script>

<template>
  <header>
    <img alt="Vue logo" class="logo" src="./assets/logo.svg" width="125" height="125" />
      <h1>PANIC Nikola</h1>
      <h1>FRANCISCO-LEBLANC Sacha</h1>
  </header>

  <main>
    <Formik @submit="handleOtherSubmit" :initial-values="initValues" :on-submit="submit" :validate="validate" :is-submit="isSubmit">
      <Fields type="email" name="email" />
      <Fields type="password" name="password" />
      <Fields type="select" name="select" >
        <option v-for="option in options" :value="option.value">{{option.label}}</option>
      </Fields>
      <button @click="handleSubmit">Envoyer</button>
    </Formik>
  </main>
</template>

<style>
header {
  text-align: center;
  margin-bottom: 40px;
}

#app {
  display: block !important;
}

 button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  cursor: pointer;
 }

 label {
  color:black;
 }

 h1 {
  color: black;
 }

</style>

