<script setup>

import { reactive, provide, inject } from 'vue'

const props = defineProps({
    type: {
        type: String,
        required: true,
        default: 'email'
    },
    name: {
        type: String,
        required: true,
        default: 'email'
    },
    options: {
        type: Array,
        required: false,
        default: []
    },
});

const types = ['email', 'text', 'password', 'number', 'date', 'time', 'checkbox', 'radio'];

const initValues = reactive(inject('initValues'));

</script>

<template>
    <div v-if="types.includes(type)">
        <label for="email">{{ type }}</label> <br/>
        <input :type="type" :name="name" v-model="initValues[type]" />
    </div>
    <div v-else-if="type == 'select'">
        <label for="email">{{ type }}</label> <br/>
        <select :name="name" v-model="initValues[type]">
            <slot></slot>
        </select>
    </div>
    <div v-else>
        <span>Type : {{ type }} = KO</span>
    </div>
</template>

<style>
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label {
    text-align: center;
    margin: auto;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}
</style>