<script setup>

import { provide, onUpdated } from 'vue';

const emit = defineEmits(['submit']);

const props = defineProps({
    validate: {
        type: Function,
        required: true,
    },
    initialValues: {
        type: Object,
        required: false,
    },
    onSubmit: {
        type: Function,
        required: true,
    },
    isSubmit: {
        type: Boolean,
        required: true,
    }
});
provide('initValues', props.initialValues)

onUpdated(() => {
  if (props.isSubmit) {
    const errors = props.validate(props.initialValues);
    if (Object.keys(errors).length === 0) {
        props.onSubmit(props.initialValues);
        emit('submit', props.initialValues);
    }
  }
});

</script>

<template>
    <slot></slot>
</template>

